/* Import Files Here */
/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,300,300italic");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300italic");
.u-clearfix {
  zoom: 1;
}
.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}
.u-text-center {
  text-align: center !important;
}
.u-title {
  border-bottom: 1px solid #999;
}
.u-fl {
  float: left !important;
}
.u-fr {
  float: right !important;
}
.u-clearboth {
  clear: both;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
@media print {
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14pt;
    line-height: 1.45;
    font-family: Garamond, "Times New Roman", serif;
    color: #000;
    background: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    font-family: "Helvetica", Arial, sans-serif;
  }
  h1 {
    font-size: 36pt;
    line-height: 1.25em;
  }
  h2 {
    font-size: 24pt;
    line-height: 1.25em;
  }
  h3 {
    font-size: 18pt;
    line-height: 1.25em;
  }
  h4,
  h5,
  h6 {
    font-size: 14pt;
    line-height: 1.25em;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  code {
    font: 12pt Courier, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  }
  blockquote {
    margin: 1.2em;
    padding: 1em;
    font-size: 24pt;
    line-height: 1.45833333em;
    font-style: italic;
  }
  hr {
    background-color: #ccc;
  }
  img {
    float: left;
    margin: 1em 1.5em 1.5em 0;
    max-width: 100% !important;
  }
  a img {
    border: none;
  }
  a:link,
  a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
    color: #333;
  }
  a:link[href^="http://"]:after,
  a[href^="http://"]:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="http://"] {
    color: #000;
  }
  a[href$=".jpg"]:after,
  a[href$=".jpeg"]:after,
  a[href$=".gif"]:after,
  a[href$=".png"]:after {
    content: " (" attr(href) ") ";
    display: none;
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  table {
    margin: 1px;
    text-align: left;
  }
  th {
    border-bottom: 1px solid #333;
    font-weight: bold;
  }
  td {
    border-bottom: 1px solid #333;
  }
  th,
  td {
    padding: 4px 10px 4px 0;
  }
  tfoot {
    font-style: italic;
  }
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
}
section,
article,
header,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0.1px 0;
}
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  font-size: 1rem;
  color: #fff;
  font-family: "Roboto", Helvetica, sans-serif;
}
img {
  max-width: 100%;
}
html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.7em;
}
@media (min-width: 51.8125rem) {
  html {
    font-size: calc( 0.875rem + (1.125 - 0.875) * ((100vw - 51.8125rem) / (600 - 51.8125)) );
  }
}
@media (min-width: 600px) {
  html {
    font-size: 1.125rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.7em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  clear: both;
}
h1 {
  font-size: 2.03104926735817rem;
  margin-top: 0.915475084668197em;
  line-height: 1.098570101601836em;
  margin-bottom: 0.183095016933639em;
}
@media (min-width: 51.8125rem) {
  h1 {
    font-size: calc( 2.03104926735817rem + (2.611349058031933 - 2.03104926735817) * ((100vw - 51.8125rem) / (600 - 51.8125)) );
  }
}
@media (min-width: 600px) {
  h1 {
    font-size: 2.611349058031933rem;
    margin-top: 0.915475084668197em;
    line-height: 1.098570101601836em;
    margin-bottom: 0.183095016933639em;
  }
}
h2 {
  font-size: 1.716239831877454rem;
  margin-top: 1.083400446408452em;
  line-height: 1.300080535690142em;
  margin-bottom: 0.595438498084013em;
}
@media (min-width: 51.8125rem) {
  h2 {
    font-size: calc( 1.716239831877454rem + (2.206594069556726 - 1.716239831877454) * ((100vw - 51.8125rem) / (600 - 51.8125)) );
  }
}
@media (min-width: 600px) {
  h2 {
    font-size: 2.206594069556726rem;
    margin-top: 1.083400446408452em;
    line-height: 1.300080535690143em;
    margin-bottom: 0.511269962794608em;
  }
}
h3 {
  font-size: 1.450225362752526rem;
  margin-top: 1.282128314506173em;
  line-height: 1.538553977407408em;
  margin-bottom: 0.786879072737909em;
}
@media (min-width: 51.8125rem) {
  h3 {
    font-size: calc( 1.450225362752526rem + (1.864575466396104 - 1.450225362752526) * ((100vw - 51.8125rem) / (600 - 51.8125)) );
  }
}
@media (min-width: 600px) {
  h3 {
    font-size: 1.864575466396104rem;
    margin-top: 1.282128314506174em;
    line-height: 1.538553977407409em;
    margin-bottom: 0.669000537218648em;
  }
}
h4 {
  font-size: 1.225442717099731rem;
  margin-top: 1.517308784861526em;
  line-height: 1.820770541833831em;
  margin-bottom: 1.046364920223815em;
}
@media (min-width: 51.8125rem) {
  h4 {
    font-size: calc( 1.225442717099731rem + (1.575569207699655 - 1.225442717099731) * ((100vw - 51.8125rem) / (600 - 51.8125)) );
  }
}
@media (min-width: 600px) {
  h4 {
    font-size: 1.575569207699655rem;
    margin-top: 1.517308784861526em;
    line-height: 1.82077054183383em;
    margin-bottom: 0.881275328390146em;
  }
}
h5 {
  font-size: 1.035501027262776rem;
  margin-top: 1.795628349027366em;
  line-height: 2.154754018832839em;
  margin-bottom: 0.359125669805473em;
}
@media (min-width: 51.8125rem) {
  h5 {
    font-size: calc( 1.035501027262776rem + (1.33135846362357 - 1.035501027262776) * ((100vw - 51.8125rem) / (600 - 51.8125)) );
  }
}
@media (min-width: 600px) {
  h5 {
    font-size: 1.33135846362357rem;
    margin-top: 1.795628349027365em;
    line-height: 2.154754018832838em;
    margin-bottom: 0.359125669805473em;
  }
}
h6 {
  font-size: 0.875rem;
  margin-top: 2.125em;
  line-height: 2.550000000000001em;
  margin-bottom: 2.853571428571429em;
}
@media (min-width: 51.8125rem) {
  h6 {
    font-size: calc( 0.875rem + (1.125 - 0.875) * ((100vw - 51.8125rem) / (600 - 51.8125)) );
  }
}
@media (min-width: 600px) {
  h6 {
    font-size: 1.125rem;
    margin-top: 2.125em;
    line-height: 2.550000000000001em;
    margin-bottom: 0.910714285714286em;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.85em;
  margin-bottom: 1.7em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.085em 0.255em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #fff;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.85em 1.7em 1.7em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 3.211111111111111em;
}
@media (min-width: 600px) {
  fieldset {
    margin-bottom: 0.236111111111111em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #fff;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.2125em;
  margin-bottom: 3.352777777777778em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.425em;
  font-size: 0.875rem;
  margin-bottom: 6.138888888888888em;
}
@media (min-width: 51.8125rem) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 0.875rem + (1.125 - 0.875) * ((100vw - 51.8125rem) / (600 - 51.8125)) );
  }
}
@media (min-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 1.125rem;
    margin-bottom: 1.747222222222222em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.425em 1.7em;
  margin-bottom: -0.991666666666667em;
}
@media (min-width: 51.8125rem) {
  input[type="submit"],
  button {
    font-size: calc( 0.875rem + (1.125 - 0.875) * ((100vw - 51.8125rem) / (600 - 51.8125)) );
  }
}
@media (min-width: 600px) {
  input[type="submit"],
  button {
    font-size: 1.125rem;
    margin-bottom: 1.275em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 9.255555555555556em;
}
@media (min-width: 600px) {
  table {
    margin-bottom: 6.988888888888888em;
  }
}
th {
  text-align: left;
  color: #fff;
  padding: 0.2125em 0.85em;
}
@media (min-width: 600px) {
  th {
    padding: 0.425em 0.85em;
  }
}
td {
  padding: 0.2125em 0.85em;
}
@media (min-width: 600px) {
  td {
    padding: 0.425em 0.85em;
  }
}
p {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #fff;
}
a {
  color: #767676;
}
.button {
  background: transparent;
  border: none;
  border: 1px solid #767676;
  color: #767676;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.875em;
  text-decoration: none;
  padding: 0.425em 1.7em;
  outline: none;
}
.button:hover {
  border-color: #ad890c;
  color: #ad890c;
}
.button.button--light {
  color: #fff;
  border-color: #fff;
}
.button.button--light:hover {
  border-color: #ad890c;
  color: #ad890c;
}
.nav {
  list-style-type: none;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
}
@media only screen and (max-width: 46.25em) {
  .nav-list {
    width: 100%;
  }
}
.nav--is-open {
  height: auto !important;
}
.nav__item {
  display: inline-block;
  margin-right: 30px;
}
@media only screen and (max-width: 37.5em) {
  .nav__item {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 46.25em) {
  .nav__item {
    width: 100%;
  }
}
.nav__item.nav__item--last {
  margin: 0;
}
.nav__item a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75em;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  padding-bottom: 5px;
}
.nav__item a:hover {
  border-bottom: 1px solid #ad890c;
  color: #ad890c;
}
.hero {
  display: table;
  min-height: 100vh;
  width: 100%;
  background: url("../../assets/images/odiss-hero.jpg");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-weight: 300;
}
@media screen and (max-height: 450px) {
  .hero {
    padding-top: 50px;
  }
}
.hero__content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.hero__title {
  margin-bottom: 2rem;
  font-weight: 100;
  font-size: 4.0625em;
}
.hero__description {
  margin-bottom: 3rem;
}
@media screen and (max-height: 450px) {
  .hero__button {
    margin-bottom: 30px;
  }
}
.cta-label {
  background-color: #1b1b1b;
  text-transform: uppercase;
  padding-top: 1.875em;
}
.cta-label__title {
  float: left;
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 3px;
}
@media only screen and (max-width: 65.625em) {
  .cta-label__title {
    text-align: center;
    float: none;
    width: 100%;
    margin-bottom: 1.875em;
  }
}
.cta-label__button {
  float: right;
  margin-bottom: 1.875em;
}
@media only screen and (max-width: 65.625em) {
  .cta-label__button {
    float: none;
    display: table;
    margin: 0 auto;
    margin-bottom: 1.875em;
  }
}
.section {
  padding: 50px 0;
  background-color: #1f1f1f;
}
.section.section--darker {
  background-color: #1b1b1b;
}
.section.section--parallax {
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 90% 20%;
  min-height: 300px;
}
@media only screen and (max-width: 45em) {
  .section.section--parallax {
    min-height: 700px;
  }
}
.section__title {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.section__content .media {
  width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
}
.section__content .media:nth-child(n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.section__content .media:last-child{
  margin-right: 0;
}
.section__content .media:nth-child(2n){
  margin-right: 0;
}
.section__content .media:nth-child(2n + 1){
  clear: left;
}
@media only screen and (max-width: 38.75em) {
  .section__content .media {
    width: calc(99.99% * 1 - (30px - 30px * 1));
  }
  .section__content .media:nth-child(n){
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .section__content .media:last-child{
    margin-right: 0;
  }
  .section__content .media:nth-child(undefinedn){
    margin-right: 0;
  }
  .section__content .media:nth-child(undefinedn + 1){
    clear: left;
  }
}
.section__button {
  display: table;
  margin: 0 auto;
}
.media {
  width: 100%;
  margin-bottom: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.media:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.media__image {
  float: left;
  width: calc(50% - 10px);
  margin-right: 10px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 25.9375em) and (max-width: 65.625em) {
  .media__image {
    width: 100%;
  }
}
@media only screen and (max-width: 25.9375em) {
  .media__image {
    margin-bottom: 1.25em;
    width: 100%;
  }
}
.media__title {
  font-size: 1rem;
  margin-top: 0;
  font-weight: 300;
}
.media__description {
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 300;
  font-family: "Fira Sans";
  color: #767676;
}
@media only screen and (max-width: 38.75em) {
  .media__description {
    font-size: 1em;
  }
}
.media__content {
  float: right;
  width: calc(50% - 10px);
  margin-left: 10px;
}
@media only screen and (max-width: 65.625em) {
  .media__content {
    width: 100%;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: #1f1f1f;
  overflow: auto;
}
.modal__content {
  padding: 90px 100px;
}
@media only screen and (max-width: 34.375em) {
  .modal__content {
    padding: 45px 50px;
  }
}
.modal__image {
  width: calc(99.99% * 2/5 - (30px - 30px * 2/5));
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}
.modal__image:nth-child(n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.modal__image:last-child{
  margin-right: 0;
}
.modal__image:nth-child(5n){
  margin-right: 0;
}
.modal__image:nth-child(5n + 1){
  clear: left;
}
@media only screen and (max-width: 63.125em) {
  .modal__image {
    width: calc(99.99% * 1 - (30px - 30px * 1));
    -o-object-fit: cover;
       object-fit: cover;
    width: 360px;
    height: 442px;
    float: none;
    margin-right: none;
    clear: none;
    display: block;
    margin: 0 auto;
  }
  .modal__image:nth-child(n){
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .modal__image:last-child{
    margin-right: 0;
  }
  .modal__image:nth-child(undefinedn){
    margin-right: 0;
  }
  .modal__image:nth-child(undefinedn + 1){
    clear: left;
  }
}
@media only screen and (max-width: 34.375em) {
  .modal__image {
    width: 100%;
    height: auto;
  }
}
.modal__text {
  width: calc(99.99% * 2/5 - (30px - 30px * 2/5));
}
.modal__text:nth-child(n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.modal__text:last-child{
  margin-right: 0;
}
.modal__text:nth-child(5n){
  margin-right: 0;
}
.modal__text:nth-child(5n + 1){
  clear: left;
}
@media only screen and (max-width: 63.125em) {
  .modal__text {
    width: calc(99.99% * 1 - (30px - 30px * 1));
  }
  .modal__text:nth-child(n){
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .modal__text:last-child{
    margin-right: 0;
  }
  .modal__text:nth-child(undefinedn){
    margin-right: 0;
  }
  .modal__text:nth-child(undefinedn + 1){
    clear: left;
  }
}
.modal__actions {
  width: calc(99.99% * 1/5 - (30px - 30px * 1/5));
}
.modal__actions:nth-child(n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.modal__actions:last-child{
  margin-right: 0;
}
.modal__actions:nth-child(5n){
  margin-right: 0;
}
.modal__actions:nth-child(5n + 1){
  clear: left;
}
@media only screen and (max-width: 63.125em) {
  .modal__actions {
    width: calc(99.99% * 1 - (30px - 30px * 1));
  }
  .modal__actions:nth-child(n){
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .modal__actions:last-child{
    margin-right: 0;
  }
  .modal__actions:nth-child(undefinedn){
    margin-right: 0;
  }
  .modal__actions:nth-child(undefinedn + 1){
    clear: left;
  }
}
.modal__button {
  width: 100%;
  margin-bottom: 20px;
}
.modal__days {
  font-size: 20px;
  color: #ad890c;
}
.modal__location {
  color: #fff;
  font-size: 20px;
}
.modal__text p {
  color: #767676;
  font-style: italic;
  font-weight: 300;
}
.modal__back {
  text-decoration: none;
  color: #fff;
  margin-bottom: 30px;
}
.fa.fa-long-arrow-left {
  padding-right: 20px;
}
.service {
  width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
}
.service:nth-child(n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.service:last-child{
  margin-right: 0;
}
.service:nth-child(3n){
  margin-right: 0;
}
.service:nth-child(3n + 1){
  clear: left;
}
@media only screen and (max-width: 47.8125em) {
  .service {
    width: calc(99.99% * 1 - (30px - 30px * 1));
    margin-bottom: 30px;
  }
  .service:nth-child(n){
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .service:last-child{
    margin-right: 0;
  }
  .service:nth-child(undefinedn){
    margin-right: 0;
  }
  .service:nth-child(undefinedn + 1){
    clear: left;
  }
  .service:last-child {
    margin-bottom: 0;
  }
}
.service__icon {
  color: #ad890c;
  font-size: 70px;
  display: table;
  margin: 0 auto;
}
.service__title {
  text-align: center;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 25px;
}
.service__text {
  font-weight: 300;
  font-style: italic;
  color: #767676;
}
.input {
  background-color: #1f1f1f;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  font-weight: 300;
}
.form__input {
  width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
}
.form__input:nth-child(n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.form__input:last-child{
  margin-right: 0;
}
.form__input:nth-child(2n){
  margin-right: 0;
}
.form__input:nth-child(2n + 1){
  clear: left;
}
@media only screen and (max-width: 41.875em) {
  .form__input {
    width: calc(99.99% * 1 - (30px - 30px * 1));
  }
  .form__input:nth-child(n){
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .form__input:last-child{
    margin-right: 0;
  }
  .form__input:nth-child(undefinedn){
    margin-right: 0;
  }
  .form__input:nth-child(undefinedn + 1){
    clear: left;
  }
}
.form__textarea {
  width: 100%;
  min-height: 300px;
}
@media only screen and (max-width: 25em) {
  .form__textarea {
    min-height: 100px;
  }
}
.form__button {
  width: 300px;
}
@media only screen and (max-width: 37.5em) {
  .form__button {
    width: 200px;
  }
}
.w3modal .form__input {
  width: 100%;
}
::-webkit-input-placeholder {
  color: #767676;
  font-weight: 300;
  font-style: italic;
}
:-moz-placeholder {
  color: #767676;
  font-weight: 300;
  font-style: italic;
}
::-moz-placeholder {
  color: #767676;
  font-weight: 300;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #767676;
  font-weight: 300;
  font-style: italic;
}
#numbers {
  background: url("../../assets/images/numbers.jpg");
}
.number {
  width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
  text-align: center;
}
.number:nth-child(n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.number:last-child{
  margin-right: 0;
}
.number:nth-child(3n){
  margin-right: 0;
}
.number:nth-child(3n + 1){
  clear: left;
}
@media only screen and (max-width: 45em) {
  .number {
    width: calc(99.99% * 1 - (30px - 30px * 1));
    margin-bottom: 80px;
  }
  .number:nth-child(n){
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .number:last-child{
    margin-right: 0;
  }
  .number:nth-child(undefinedn){
    margin-right: 0;
  }
  .number:nth-child(undefinedn + 1){
    clear: left;
  }
}
.number__num {
  font-weight: 100;
  font-size: 70px;
  border-bottom: 1px solid #fff;
  margin-bottom: 70px;
}
.number__icon {
  display: table;
  margin: 0 auto;
  font-size: 2em;
  margin-top: 20px;
}
.number__title {
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 10px;
}
.w3modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
.w3modal-content {
  background-color: #1f1f1f;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #393939;
  width: 80%; /* Could be more or less, depending on screen size */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.w3close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.w3close:hover,
.w3close:focus {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.wrapper {
  *zoom: 1;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.wrapper:before{
  content: '';
  display: table;
}
.wrapper:after{
  content: '';
  display: table;
  clear: both;
}
.wrapper:before{
  content: '';
  display: table;
}
.wrapper:after{
  content: '';
  display: table;
  clear: both;
}
@media only screen and (min-width: 26em) and (max-width: 75.625em) {
  .wrapper {
    padding: 0 2em;
  }
}
@media only screen and (max-width: 25.9375em) {
  .wrapper {
    padding: 0 1.5em;
  }
}
.header {
  background-color: #1f1f1f;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: top 1s;
  transition: top 1s;
}
@media only screen and (max-width: 65.625em) {
  .header {
    padding: 10px 0;
  }
}
.header.header--is-hidden {
  top: -110px;
}
.site-logo {
  display: inline-block;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 0.9375em 1.25em;
}
@media only screen and (max-width: 46.25em) {
  .site-logo {
    font-size: 0.8em;
  }
}
.brand-name {
  display: block;
  float: right;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 3px;
}
@media only screen and (max-width: 46.25em) {
  .brand-name {
    margin-top: 0;
  }
}
.site-logo i {
  float: left;
  font-size: 2em;
  color: #fff;
  margin-right: 1.25em;
}
.header__nav {
  float: right;
}
@media only screen and (max-width: 46.25em) {
  .header__nav {
    overflow: hidden;
    width: 100%;
    float: left;
    max-height: 0;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
}
.header__nav.header__nav--isOpen {
  max-height: 500px;
}
.header__toggle {
  display: none;
}
@media only screen and (max-width: 46.25em) {
  .header__toggle {
    display: block;
    float: right;
    margin-top: 10px;
    font-size: 1.5em;
    cursor: pointer;
  }
}
.header__nav-list.nav-list {
  line-height: 70px;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 46.25em) {
  .header__nav-list.nav-list {
    width: 100%;
  }
}
